@page "/moduleselection/{code}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web
@using user_service.Models;
<h3>Available Modules</h3>


@if (modules != null && modules.Any())
{

    <table class="table-bordered">

        <thead>

            <tr>

                <th>Module ID   </th>

                <th>Module Name  </th>

                <th>Module Amount   </th>

                <th>Select</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var module in modules)

            {

                <tr>

                    <td>@module.ModuleId</td>

                    <td>@module.ModuleName</td>

                    <td>@module.ModuleAmount</td>

                    <td><input type="checkbox" @onchange="e => HandleCheckboxChange(e, module.ModuleId)" checked="@selectedModules.ContainsKey(module.ModuleId)" /></td>

                </tr>

            }

        </tbody>
        <br/> 
    </table>
    <br />
    <br />

    <label>School Code:</label>
    <InputText @bind-Value="schoolCode" />
    <br />

    <button @onclick="AddSelectedModules">Add Selected Modules</button>
    
}
else
{
    <p>No modules available.</p>
}
<!-- Modal for Success -->
<div class="popup @(successPopupVisible ? "open-popup" : "")" @ref="successPopup">
    <h2 id="successMessage">@successMessage</h2>
    <button type="button" @onclick="CloseSuccessPopup">Ok</button>
</div>

<!-- Modal for Failure -->
<div class="popup @(failurePopupVisible ? "open-popup" : "")" @ref="failurePopup">
    <h2 id="failureMessage">@failureMessage</h2>
    <button type="button" @onclick="CloseFailurePopup">Ok</button>
</div>

@code {
    [Parameter] public string code { get; set; }
    private bool successPopupVisible = false;
    private string successMessage = "";

    private bool failurePopupVisible = false;
    private string failureMessage = "";

    private ElementReference successPopup;
    private ElementReference failurePopup;


    private List<Module> modules;
    private Dictionary<int, bool> selectedModules = new Dictionary<int, bool>();
    private string schoolCode = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        schoolCode = code;
        try
        {
            modules = await HttpClient.GetFromJsonAsync<List<Module>>($"https://localhost:7128/api/Module/api/modules");
        }
        catch (Exception ex)
        {
            failureMessage = $"{ex.Message} occured Fetching Modules!!";
            failurePopupVisible = true;
        }
      //  modules = await HttpClient.GetFromJsonAsync<List<Module>>($"https://localhost:7128/api/Module/api/modules");
    }

    private void HandleCheckboxChange(ChangeEventArgs e, int moduleId)
    {
        if (e.Value is bool isChecked)
        {
            if (isChecked)
            {
                
                selectedModules[moduleId] = true;
            }
            else
            {
                selectedModules.Remove(moduleId);
            }
        }
    }

    private async Task AddSelectedModules()
    {
        var selectedModuleIds = selectedModules.Keys.ToList();

        if (selectedModuleIds.Any() && !string.IsNullOrEmpty(schoolCode))
        {
            try
            {
                var response = await HttpClient.PostAsJsonAsync($"https://localhost:7128/api/Module/api/modules?schoolCode={schoolCode}", selectedModuleIds);


                if (response.IsSuccessStatusCode)
                {
                    @* Console.WriteLine("Selected modules added successfully."); *@
                    successMessage = "Selected modules added successfully.";
                    successPopupVisible = true;
                }
                else
                {
                    @* Console.WriteLine("Failed to add selected modules."); *@
                    failureMessage = "Failed to add selected modules.";
                    failurePopupVisible = true;
                }
            }
            catch (Exception e)
            {
                failureMessage = $"Error: {e.Message} sending Modules!!";
                failurePopupVisible = true;
            }
            
            // var response = await HttpClient.PostAsJsonAsync($"https://localhost:7128/api/Module/api/modules?schoolCode={schoolCode}", selectedModuleIds);

            // if (response.IsSuccessStatusCode)
            // {
            //     Console.WriteLine("Selected modules added successfully.");
            //  //   NavigationManager.NavigateTo("/welcome");
            // }
            // else
            // {
            //     Console.WriteLine("Failed to add selected modules.");
            // }
        }
        else
        {
           
            Console.WriteLine("Invalid module selection or school code.");
            failureMessage = "Invalid module selection or school code.";
            failurePopupVisible = true;
        }

    }
    private void CloseSuccessPopup()
    {
        NavigationManager.NavigateTo("/welcomeuser");
        successPopupVisible = false;
    }

    private void CloseFailurePopup()
    {
        NavigationManager.NavigateTo("/moduleselection");
        failurePopupVisible = false;
    }
}
